<h2>Edit interactions</h2>

<%= render "form.html", changeset: @changeset,
                        action: interactions_path(@conn, :update, @interactions) %>

<%= link "Back", to: interactions_path(@conn, :index) %>
