<h2>Edit Contact Information</h2>

<%= render "form.html", changeset: @changeset,
                        action: voters_path(@conn, :update, @voters) %>

<%= link "Back", to: voters_path(@conn, :index) %>
